.custom-shape-divider-top-1676734937 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676734937 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1676734937 .shape-fill {
    fill: #3330E4;
}


@keyframes example {
    /* from {text-shadow: 1px 1px 2px #65c9ff, 0 0 1em blue, 0 0 0.2em blue}
    to {text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue}
     */
     0%   {text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue}
     25%  {text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em yellow;}
     50%  {text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em white;}
     100% {text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em green;}
  }